#Logar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.2rem;
  color: black;
  background-color: #22254b;
  
}
#Logar .form {
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
}
#Logar .field {
  padding-bottom: 0.5rem;
}
#Logar .field label {
  display: block;
}
#Logar .field input {
  width: 100%;
}
#Logar .actions {
  text-align: center;
  margin-top: 0.5rem;
}
.title{

  color: #fff;

}